In [3]:
import pandas as pd
import sklearn

In [4]:
from rich.traceback import install
from rich import print

In [5]:
conc_df = pd.DataFrame(
    {
        "rfu": [
            4447.86,8620.73,10529.99,11779.4,
            12272.63,9396.53,12548.55,10198.74,
            9058.08,6994.19,13838.82,11310.47,
            15163.31,15778.38,11785.84,10982.46,
            6165.14,18145.89,9498.2,18305.79,
            15120.74,3443.18,10701.79,17025.82,
            14439.98,18011.46,21747.35,17956.23,
            17172.36,15718.86,19233.67,23949.16,
            24230.56,25501.38,26316.42,26518.23,
            25066.13,26332.5,25399.7,28217.15,27317.72,
        ],
        "conc": [
            78.953,154.837,189.898,212.987,222.136,
            169.053,227.263,183.796,162.846,125.156,
            251.322,204.307,276.169,287.761,213.107,
            198.246,110.084,332.71,170.919,335.766,
            275.368,60.77,193.066,311.378,262.58,330.144,
            402.145,329.09,314.162,286.638,353.545,445.258,
            450.806,475.967,492.2,496.23,467.33,492.52,
            473.948,530.347,512.244
        ]
    }
)

In [8]:
x = conc_df.sort_values(by="rfu")["rfu"].values
y = conc_df.sort_values(by="rfu")["conc"].values

In [9]:
import numpy as np

In [10]:
A = np.vstack([x, np.ones(len(x))]).T
y = y[:, np.newaxis]

In [13]:
m, c = np.linalg.lstsq(np.vstack([x, np.ones(len(x))]).T,y, rcond=None)[0]

In [14]:
m

array([0.01900567])

In [15]:
c

array([-9.98186123])

In [17]:
out_of_range = pd.DataFrame(
    {
        "sample": ["PAM26 tcr", "PAM27 tcr", "PAM28 tcr", "PAM29 tcr", "PAM30 tcr", "PAM31 tcr", "PAM32 tcr"],
        "rfu": [34027.84,28069.79,28314.06,33411.17,35827.14,37382.78,41956.64]
    }
)

In [20]:
@np.vectorize
def solve_y(x, m, c):
    return (x*m)+c

In [21]:
out_of_range['conc'] = solve_y(out_of_range['rfu'], m=m, c=c)

In [22]:
out_of_range

      sample       rfu        conc
0  PAM26 tcr  34027.84  636.740089
1  PAM27 tcr  28069.79  523.503348
2  PAM28 tcr  28314.06  528.145863
3  PAM29 tcr  33411.17  625.019862
4  PAM30 tcr  35827.14  670.936994
5  PAM31 tcr  37382.78  700.502977
6  PAM32 tcr  41956.64  787.432258